<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Manipulador">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Manipulador urdf file -->
    <xacro:include filename="$(find Manipulador_description)/urdf/Manipulador.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="Manipulador.ros2_control.xacro" />


    <xacro:Manipulador_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
